<!DOCTYPE html>
<html>
<head>
  <title>Authentication Page</title>
  <style>
  /* Center the container */
.container {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}
h1{
  color:#2F0F5D;

}
h2{
  color:#2F0F5D;
}
/* Style the buttons */
.button {
  display: inline-block;
  padding: 12px 24px;
  margin: 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #3e8e41;
}
body {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20201026/pngtree-futuristic-shape-abstract-background-chemistry-technology-concept-for-website-image_438818.jpg");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
   background-size: cover;
}
  </style>
</head>
<body>
  <h1 style="text-align: center"> QR BASED GRIEVANCE REGISTRATION </h1>
  <h1>Welcome to the Grievance Registration site</h1>

    <div class="container">
    <h2>Login</h2>
    <button class="button" onclick="location.href='/login'">Login</button>

    <h2>Sign Up</h2>
    <button class="button" onclick="location.href='/signup'">Sign Up</button>
  </div>
</body>
</html>
